/* .container {
    text-align: center;
    padding: 20px;
  }
  
  .inputGroup {
    margin: 10px 0;
  }
  
  .input {
    padding: 5px;
    margin-left: 10px;
  }
  
  .buttons {
    margin: 20px;
  }
  
  .button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .generatedTitle {
    margin-top: 20px;
  }
  
  .generatedTitle h2 {
    margin-bottom: 10px;
  }
  
  .generatedTitle p {
    font-size: 18px;
    color: #333;
  }
   */